/* BODY */
body{
    font-family: 'Raleway', sans-serif;
}

/* HEADER */

/* Header liens de navigation */
nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 1em;
    flex-direction: right;
}

nav a{
    text-decoration: none;
    color: #0065FC;
}

/* Header logo et titres*/

header img{
    max-height: 3em;
    max-width: 6em;
}

header h1{
    font-size: 1.1em;
    font-weight: bold;  
}

header h2{
    font-size:0.8em;
}

header label, header p{
    font-weight: bold;
    font-size: 0.9em;
}

/* Selecteurs de notation en etoiles*/

.rating{
    display: flex;
    flex-direction:row-reverse;
    align-items: flex-start;
}

.rating a {
    color: darkgrey;
	text-decoration: none;
    font-size: 1.5em;
	transition: color .4s;
}

.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {	
    color: blue;
    cursor: pointer;
}

/* SECTION 1 */

#section1{
    flex: 2;
    line-height: 80%
}

#section1 img{ 
    max-height: 25em;
    max-width: 15em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

h3 a{
    font-size: 0.8em;
    font-weight: bold;
    color: black;
    text-decoration: none;
}

.textimg1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-left: 0.5em;
}

.logements_section1{
    display: inline-block;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.5em;
    background-color: white;
    padding: 0.4em;
    border-radius: 20px;
    max-height: 14em;
}

/* SECTIONS 1 ET 2 */

#section1, #section2{
    background-color: #DEEBFF;
    border-radius : 2em;
    padding: 1.5em;
    margin: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#section1 h1, #section2 h1{
    font-size:1.2em; 
    text-align: left;
    font-weight: bold;
}

#section1 h2, #section2 h2{
    font-size: 0.8em;
    text-align: left;
}

/* SECTION 2 */
#section2{
    flex: 1;
    line-height: 95%;
}

.logements_section2{
    display: flex;
    flex-direction: row;
    margin: 1.5em;
    background-color: white;
    border-radius: 20px;
    padding-right: 3em;
    padding-left: 0.5em;
    max-height: 11em;
    align-items: center;
}

#section2 img{
    max-height: 10em;
    max-width: 10em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.textimgs2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1.5em;
    padding-bottom: 2.0em;
}

/* SECTION 3 */
#section3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    margin: 2em;
}

.imgactiv{
    margin: 1em;
}

#section3 h1{
    font-size: 0.9em;
    font-weight: bold;
    padding-left: 2em;
}

/* Section 3 Bloc 1*/
.activitebloc1{
    display: flex;
    justify-content: space-around;
}

#section3 img{
    border-radius:15px, 10px, 0px, 0px;
}

.bloc1 img{
    max-height: 30em;
    max-width: 15em;
}

/* Section 3 Bloc 2 */
.bloc2 img{
    max-height: 10em;
    max-width: 15em;
}

.activitebloc2{
    display: flex;
    justify-content: space-around;
}

/* FOOTER */
footer{
    display: flex;
    padding-top: 1em;
    background-color: #DEEBFF;
}

footer p, footer ul{
    font-size: 1em;
}
footer h1{
    font-size: 1.3em;
    padding-left: 0.8em;
}

#Apropos{
    width:30%;
}

#liste_apropos{
    display: flex;
    justify-content: space-between; 
}

#Apropos ul{
    list-style-type: none;
    padding-left: 1em;
}

#nos_hebergements{
    width:30%;
}

#nos_hebergements ul{
    list-style-type: none;
    padding-left: 1em;
}

€liste_nos_hebergements{
    display: flex;
    justify-content: space-between;
}

#assistance{
    width: 30%;
}

#liste_assistance{
    display: flex;
    justify-content: space-between;
}

#assistance ul{
    list-style-type: none;
    padding-left: 1em;
}

#Apropos a, #nos_hebergements a, #assistance a{
    text-decoration: none;
    color:black;
}