/* ------------------------BODY-------------------- */
body{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

/* -----------------------HEADER------------------- */

header{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2.5em;
    margin-top: 1.5em;
    margin-bottom:1.5em;
}

#logo{
    display: inline;
    width: 100%;
}

#logo_img, #nav{
    display: inline;
}

#logo_img{
    float: left;
}

/* HEADER liens de navigation */

nav {
    width: 100%;
}

nav ul{
    list-style-type: none;
    display: flex;
    float: right;
    margin-right: 2em;
}

nav a{
    text-decoration: none;
    color: #0065FC;
    font-size:1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

nav a:hover{
    color:grey;
}

header li:nth-child(1)> a{
    border-top: solid #0065FC;
    padding-top: 2.3em;
}

nav a:visited{
    color: grey;
}

header li:nth-child(3) > a{
    font-weight: bold;
}

/* Header titres*/

#titre_principal{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header img{
    max-height: 3em;
    max-width: 6em;
}

header h1{
    font-size: 1.5em;
    font-weight: bold;  
}

header h2{
    font-size: 1.1em;
    font-weight: 400;
}


/* HEADER Barre de recherche et filtres */

.barre_recherche{
    display: inline-block;
    margin: 1em;
    margin-left: 0em;
    
}

.barre_recherche input[type="text"],.barre_recherche i.fas{
    display: inline-block;
}

.barre_recherche i.fa-map-marker-alt{
    background-color: #EFEFEF;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    padding: 0.9em;
}

.buttonrecherche{
    background-color: #0065FC;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    color: white;
    height: 3em;
    width: 8em;
    border:none;
    font-weight: bold;
    margin:0;
    font-family: 'Raleway';
    font-size: 0.9em

}

.textsearch{
    border-style:solid;
    border-color: #EFEFEF;
    border-right: none;
    margin:0;
    height: 3em;
    width: 14.5em;
    padding-left: 1em;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 0.9em;

}

#barre_recherche, #filtres{
    width:100%;
}

/* HEADER Filtres */
#filtres input, #filtres i.fas, #filtres h3, .filtresimg{
    display: inline;
}

#filtresimg{
    margin-left: 2em;
}

.buttonfiltre{
    border-radius:2em;
    font-weight: 600;
    font-size:1em;
    height: 2.5em;
    width: auto;
    margin: 0.5em;
    align-items: center;
    background-color:white;
    border-style: solid;
    border-color: lightgray;
    padding-left: 3em;
    padding-right: 1em;
    padding-top: 0.1em;
    font-family: 'Raleway';
    margin-right: 1em;
}

#filtres i.fas{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 0.8em;
    align-content: center;
    border-radius: 2em;
    height: 1em;
    width: 1em;
    position: relative;
    margin-right: -3.3em;

}

#filtres > div:nth-child(4) > i, #filtres > div:nth-child(5) > i{
    margin-right:-3.1em;
}

#filtres > div:nth-child(3) > i{
    padding-left: 1em;
    padding-right: 1em;
    margin-right:-3.1em;

}

header h3{
    font-size:1em;
    padding-right: 2em;  
}

/* HEADER 3eme ligne */

#titreinfo{
    display: inline;
    width: 100%;
    margin-top: 1em;
}

#titreinfo i.fas, #titreinfo h2{
    display: inline;
}

#titreinfo h2{
    padding-top: 1em;
}


#titreinfo i.fas{
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 2em; 
    padding: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    float: left;
    margin-right: 1em;
    font-size : 0.7em;
}

/* ---------------------SECTION 1------------------ */

#section1{
    flex: 2;
}

#section1 img{ 
    height: 60%;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

h4 a{
    font-size: 1em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding-left: 1em;
}

#section1 h4{
    font-size : 1em;
    text-align: left;
    margin:0;   
}

#images_section1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.textimg1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0.5em;
    margin-bottom:0;
}

.logements_section1{
    display: flex;
    flex-direction: column;
    margin: 0.5em;
    margin-top: 0em;
    margin-bottom: 1em;
    background-color: white;
    padding: 0.2em;
    border-radius: 1em;
    box-shadow: 0em 0.2em 0.2em #AAAAAA;
    width : 30%;
    height: 12em;
}

#section1 h1{
    width: 100%;
}

/* --------Selecteurs de notation en etoiles--------*/

.rating{
    display: flex;
    flex-direction:row-reverse;
}

.rating a {
    color: darkgrey;
	text-decoration:none;
    font-size: 1em;
	transition: color .4s;
}

.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {	
    color: blue;
    cursor: pointer;
}

/* ---------------SECTIONS 1 ET 2------------------ */

#sections1_2{
    display: flex;
    flex-direction: row;
    margin: 1.5em;
    margin-top: 0;
}

#section1, #section2{
    background-color: #EFEFEF;
    border-radius : 1.5em;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}

#section1 h1, #section2 h1, #section3 h1{
    font-size:1.2em; 
    text-align: left;
    font-weight: bold;
    padding-left: 1em;
}

#section1 h2, #section2 h2{
    font-size: 0.9em;
    text-align: left;
    font-weight:bold;
    margin: 0em;
    padding-left: 0.2em;
}

#section1 h3, #section2 h3{
    font-size: 0.8em;
    text-align: left;
    margin:0;
    padding-top: 0.3em;
    font-weight:400;
    padding-left: 0.2em;

}

#sections1_2_3{
    display: flex;
    flex-direction: column;
}
    

/* ---------------------SECTION 2------------------ */
#section2{
    flex: 1;
}

#titre_s2 i, #titre_s2 h1{
    display: inline;
}

#titre_s2 i{
    float: right;
    padding-right: 1em;
    font-size: 1.5em;
}

#titre_s2{
    width: 100%;
    margin-top:1em;
}

.logements_section2{
    display: flex;
    flex-direction: row;
    margin: 1em;
    margin-bottom : 1.5em;
    background-color: white;
    border-radius: 1.5em;
    padding-left: 0.3em;
    align-items: center;
    box-shadow: 0em 0.2em 0.2em #AAAAAA;
    width : 90%;
    height: 25%;
}

#section2 img{
    height: 93%;
    width: 40%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.textimgs2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1em;
    padding-bottom: 1em;
    padding-right: 1.5em;
    padding-top: 1.5em;
}

#image_section2 > div a{
    padding-top: 1.5em;
    align-items: baseline;
}



/* ---------------------SECTION 3------------------ */
#section3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5em;
    margin-top: 0em;
    justify-content: center;
}

#section3 h1{
    width: 100%;
}

#section3 h2{
    font-size: 0.9em;
    font-weight: bold;
    align-items: flex-start;
    padding-left: 1.5em;
}

#section3 img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.activites{
    display: flex;
    flex-direction: column;
    margin: 1em;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 0em 0.2em 0.2em #AAAAAA;
    margin-top: 0;
}

#Blocs_s3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.activitebloc1, .activitebloc2{
    display: flex;
    flex-wrap: wrap;
}

/* Section 3 Bloc 1*/
.bloc1 img{
    max-height: 25em;
    max-width: 17em;
}

.bloc1{
    align-items: stretch;
}

/* Section 3 Bloc 2 */
.bloc2 img{
    max-height: 15em;
    max-width: 17em;
}

.bloc2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* ----------------------FOOTER-------------------- */
footer{
    display: flex;
    flex-direction: row;
    padding-top: 1.5em;
    background-color: #EFEFEF;    
}

#liensfooter{
    margin-left:1.5em;
    width: 100%;
    display: flex;
    margin-bottom: 2em;
}

footer p, footer ul{
    font-size: 1em;
}


footer ul{
    margin-top: 0em;
}

footer h1{
    font-size: 1.3em;
    padding-left: 0.8em;
}

#Apropos, #nos_hebergements, #assistance{
    width:33%;
}

#liste_apropos{
    display: flex;
    justify-content: space-between; 
}

#Apropos ul{
    list-style-type: none;
    padding-left: 1em;
}

#nos_hebergements ul{
    list-style-type: none;
    padding-left: 1em;
}

#liste_nos_hebergements{
    display: flex;
    justify-content: space-between;
}

#liste_assistance{
    display: flex;
    justify-content: space-between;
}

#assistance ul{
    list-style-type: none;
    padding-left: 1em;
}

#Apropos a, #nos_hebergements a, #assistance a{
    text-decoration: none;
    color:black;
    line-height: 2em;
}

/* ------------------MEDIA QUERIES----------------- */

@media (min-width: 376px){
    .barre_recherche i.fa-search{
    display: none;
    }
    
    img.imgactiv2{
        display: none;
    }
}

/* ----------------RESPONSIVE Iphone8-------------- */

@media screen and (max-width: 376px){
   
    
/* RESPONSIVE Iphone8 HEADER */
    header{
        margin: 1em;
    }
    
    header ul{
        float: left;
        margin: 0;
        margin-bottom: 2em;
        padding-left:0;
        flex-direction: row;
        flex-wrap: wrap-reverse;
    }
    
    header logo-img{
        width: 100%;
    }
    
    header li:nth-child(1) > a{
        border-bottom: solid #0065FC;
        padding-bottom: 1em;
        border-top:none;
        margin: 0;
    }
    
    header li:nth-child(2) > a{
        border-bottom: solid lightgrey;
        padding-bottom: 1em;
        margin :0;
    }
    
    header li:nth-child(3) > a{
        float: right;
    }
    
    header .buttonrecherche{
        display: none;
    }
    
    .barre_recherche{
        margin-right:0;
    }
    
    .barre_recherche i.fa-search{
        border-radius: 0.7em;
        color: white;
        padding: 1em;
        background-color: #0065FC;
    }
    
    .barre_recherche i.fa-map-marker-alt{
        padding-left: 1.2em;
        padding-right: 1.2em;
    }
    
    .textsearch{
        width:17em;
        margin-right: -1em;
    }
    
    header h1{
        font-size: 1.5em;
    }
    
    header h2, #titreinfo h2{
        font-size: 1em;
    }
    
    #filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    header h3{
        width:100%;
    }
    
/* RESPONSIVE Iphone8 SECTION 1 */
    #section1 .logements_section1{
        width: 100%;
        height: 12em;
        margin: 0;
        margin-bottom: 1.5em;
    }
    
    #section1{
        background-color: white;
        margin:1em;
        width: auto;
    }
    
    #section1 h1{
        margin-bottom: 1em;
        padding:0;
    }
    
    h4 a{
        padding: 0;
    }
  
/* RESPONSIVE Iphone8 SECTION 2 */
    #section2{
        border-radius:0;
        margin: 0;
        flex:1;
    }
    
    #section2 .logements_section2{
        padding-top: 0.3em;
        padding-bottom: 0.3em;
    }
    
/* RESPONSIVE Iphone8 SECTIONS 1 & 2 */ 
    #sections1_2{
        margin: 0;
        flex-direction: column-reverse;
    }
    
    #section1, #section2{
        padding:0;
    }
  
/* RESPONSIVE Iphone8 SECTIONS 3 */
    #section3 .activites{
        width: 100%;
        margin: 0;
        margin-bottom: 1.5em;  
    }
    
    #section3 h1{
        padding: 0;
    }
    
    #section3{
        margin: 1em;
    }
    
    #section3 img{
        max-width: 100%;
    }
    
    img.imgactiv2{
        display: flex;
        width: 100%;
    }
    
    img.imgactiv{
        display: none;
    }
    
/* RESPONSIVE Iphone8 FOOTER */
    
    footer h1{
        width: 100%;
    }
    
    #liensfooter{
        flex-direction: column;
        margin: 1em;
    }
    
    footer #Apropos, footer #nos_hebergements, footer #assistance{
        width: 100%;
    }
    
}

/* ---------------RESPONSIVE iPad------------------ */ 
@media only screen
  and (min-device-width : 768px)
  and (max-device-width : 1024px){
    
/* RESPONSIVE iPad HEADER */
     #filtres{
        display: flex;
        flex-wrap: wrap;
    }
      
      header h3{
          width: 100%;
      }
      
      nav ul{
          margin-right:0;
      }
    
/* RESPONSIVE Ipad SECTION 1 */
     .logements_section1{
        width: 45%;
    }
      
/* RESPONSIVE Ipad SECTION 1 & 2 */
     #sections1_2{
        flex-direction: column-reverse;
        margin: 0;
    }
      
/* RESPONSIVE Ipad SECTION 2 */
     .logements_section2{
        height:10em;
        width: 30%;
        margin: 0.5em;
    }

     #image_section2{
        display: flex;
      }
      
     #section2 img{
        width:50%;  
      }
      
      .textimgs2{
        padding-right: 1em;  
      }
      
      #image_section2 > div:nth-child(2) > div > div > a{
          padding-top: 1em;
      }
      
/* RESPONSIVE Ipad SECTION 3 */
      #Blocs_s3{
          justify-content: center;
      }
    
}