  /* ---------------------------------------------------------------- */
 /* ----------------------------BODY-------------------------------- */
/* ---------------------------------------------------------------- */

body{
    font-family: 'Raleway', sans-serif;
    margin:0;
    padding: 0;
    width: 100%;
    height: 100vh;
}

  /* ---------------------------------------------------------------- */
 /* ------------------------------HEADER---------------------------- */
/* ---------------------------------------------------------------- */

header{
    margin: 2.5em;
    margin-top: 1.5em;
    margin-bottom:1em;
}

/* ------HEADER liens de navigation------ */

nav {
    width: 100%;
    margin-top: -3em;
}

nav ul{
    list-style-type: none;
    display: flex;
    float: right;
    margin-right: 1.5em;
}

nav a{
    text-decoration: none;
    color: #0065FC;
    font-size:1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

#logo a:hover{
    color:grey;
}

header li:nth-child(1)> a{
    border-top: solid #0065FC;
    padding-top: 2.4em;
}

header li:nth-child(2)> a{
    color: black;
}

#logo > a{
    font-weight: bold;
    color:#0065FC;
    text-decoration: none;
    float: right;
    padding-top: 1em;
}

/* ------Header titres------ */

#titre_principal{
    display: flex;
    flex-direction: column;
    width: 100%;
}

header img{
    max-height: 3em;
    max-width: 6em;
}

header h1{
    margin-top:1.5em;
    margin-bottom : 0.4em;
    font-size: 1.2em;
    font-weight: bold;  
}

header h2{
    font-size: 0.9em;
    font-weight: 400;
}


/* ------HEADER Barre de recherche et filtres------ */

.barre_recherche{
    margin: 1em;
    margin-top: 0em;
    margin-left: 0em;
    
}

.barre_recherche input[type="text"],.barre_recherche i.fas{
    display: inline-block;
}

.barre_recherche i.fa-map-marker-alt{
    background-color: #F2F2F2;
    border-top-left-radius: 0.7em;
    border-bottom-left-radius: 0.7em;
    padding: 0.9em;
}

.buttonrecherche{
    background-color: #0065FC;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    color: white;
    height: 3em;
    width: 8em;
    border:none;
    font-weight: bold;
    margin:0;
    font-family: 'Raleway';
    font-size: 0.9em

}

.textsearch{
    border-style:solid;
    border-color: #F2F2F2;
    border-right: none;
    margin:0;
    height: 3em;
    width: 14.5em;
    padding-left: 1em;
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 0.9em;
    margin-right: -0.5em;

}

#barre_recherche, #filtres{
    width:100%;
}

/* ------HEADER Filtres------ */

#filtres input, #filtres i.fas, #filtres h3, .filtresimg{
    display: inline;
}

#filtresimg{
    margin-left: 2em;
}

.buttonfiltre{
    border-radius:2em;
    font-weight: 900;
    font-size:1em;
    height: 2.5em;
    width: auto;
    margin: 0.5em;
    align-items: center;
    background-color:white;
    border-style: solid;
    border-color: lightgray;
    padding-left: 3em;
    padding-right: 1em;
    padding-top: 0.1em;
    font-family: 'Raleway';
    margin-right: 1.5em;
}

.buttonfiltre:hover{
    color: #0065FC;
    border-color: #DEEBFF;
    background-color: #DEEBFF;
}

#filtres i.fas{
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 0.8em;
    align-content: center;
    border-radius: 2em;
    height: 1em;
    width: 1em;
    position: relative;
    margin-right: -3.3em;

}

#filtres > div:nth-child(4) > i, #filtres > div:nth-child(5) > i{
    margin-right:-3.1em;
}

#filtres > div:nth-child(3) > i{
    padding-left: 1em;
    margin-right:-3.1em;

}

header h3{
    font-size:1em;
    padding-right: 2em;  
}

/* ------HEADER 3eme ligne------ */

#titreinfo{
    margin-top: 1.2em;
}

#titreinfo i.fas, #titreinfo h2{
    display: inline;
}

#titreinfo h2{
    padding-top: 1em;
    font-size: 0.9em;
}


#titreinfo i.fas{
    color: #0065FC;
    border-color: #DEEBFF;
    border-style: solid;
    border-radius: 2em; 
    padding: 0.5em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    float: left;
    margin-right: 1em;
    font-size : 0.7em;
    margin-top:-0.4em;
}

  /* ---------------------------------------------------------------- */
 /* -----------------------------SECTION 1-------------------------- */
/* ---------------------------------------------------------------- */

#section1{
    flex: 2.5;
}

.cartesS1{
    text-decoration: none;
    color: black;
}

#section1 img{ 
    height: 60%;
    width: 100%;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

h5 a{
    font-size: 1em;
    font-weight: bold;
    color: black;
    text-decoration: none;
    padding-left: 1em;
}

#section1 h5{
    font-size : 1em;
    text-align: left;
    margin-top:0.5em;
    margin-bottom:1em;
}

#images_section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.textimg1{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0.5em;
    margin-top: 0em;
    
    margin-bottom:0;
}

.logements_section1{
    flex-direction: column;
    margin-top: 0em;
    margin-bottom: 1.5em;
    background-color: white;
    padding: 0.3em;
    padding-bottom: 0em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.5em #C9C9C9;
    width : 28%;
}

#section1 h2{
    width: 100%;
    margin-bottom: 0.5em;
}

  /* ---------------------------------------------------------------- */
 /* -----------------SELECTEUR DE NOTATION EN ETOILES----------------*/
/* ---------------------------------------------------------------- */


.rating{
    display: flex;
    flex-direction:row-reverse;
}

.rating i{
    color: lightgrey;
    font-size: 0.7em;
	transition: color .4s;
    padding-top: 0.5em;
}

.rating i:hover,
.rating i:hover ~ i,
.rating i:focus,
.rating i:focus ~ i{	
    color: blue;
    cursor: pointer;
}

  /* ---------------------------------------------------------------- */
 /* -------------------------SECTIONS 1 ET 2------------------------ */
/* ---------------------------------------------------------------- */

#sections1_2{
    display: flex;
    margin: 1.5em;
    margin-top: 0;
}

#section1, #section2{
    background-color: #F2F2F2;
    border-radius : 1.5em;
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
}

#section1 h2, #section2 h2, #section3 h2{
    font-size:1.2em; 
    text-align: left;
    font-weight: bold;
    padding-left: 1em;
}

#section1 h3, #section2 h3{
    font-size: 0.9em;
    text-align: left;
    font-weight:bold;
    margin: 0em;
    padding-left: 0.2em;
}

#section1 h4, #section2 h4{
    font-size: 0.8em;
    text-align: left;
    margin:0;
    padding-top: 0.5em;
    font-weight:400;
    padding-left: 0.2em;

}

#sections1_2_3{
    display: flex;
    flex-direction: column;
}
    
  /* ---------------------------------------------------------------- */
 /* ---------------------------SECTION 2---------------------------- */
/* ---------------------------------------------------------------- */

#section2{
    flex: 1;
}

#titre_s2 i, #titre_s2 h2{
    display: inline;
}

#titre_s2 i{
    float: right;
    padding-right: 1em;
    font-size: 1.5em;
}

#titre_s2{
    width: 100%;
    margin-top:1em;
    margin-bottom: 0.5em;
}

.logements_section2{
    display: flex;
    flex-direction: row;
    margin: 1em;
    margin-bottom : 1.5em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: white;
    border-radius: 1em;
    padding-left: 0.3em;
    align-items: center;
    box-shadow: 0.2em 0.2em 0.5em #C9C9C9;
    height: 28%;
}

#section2 img{
    height: 93%;
    width: 40%;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

.textimgs2{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 1em;
    padding-right: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em
        
}

#image_section2 > div i{
    padding-top: 4.5em;
    align-items: baseline;
}


  /* ---------------------------------------------------------------- */
 /* ----------------------------SECTION 3--------------------------- */
/* ---------------------------------------------------------------- */

#section3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5em;
    margin-top: 0em;
    justify-content: center;
}

#section3 a{
    text-decoration: none;
    color: black;
}

#section3 h2{
    width: 100%;
}

#section3 h3{
    font-size: 0.9em;
    font-weight: bold;
    align-items: flex-start;
    padding-left: 1.5em;
}

#section3 img{
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.activites{
    display: flex;
    flex-direction: column;
    margin: 1em;
    background-color: white;
    border-radius: 1em; 
    box-shadow: 0.2em 0.2em 0.5em #C9C9C9;
    margin-top: 0;
}

#Blocs_s3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.activitebloc1, .activitebloc2{
    display: flex;
    flex-wrap: wrap;
}

/* ------Section 3 Bloc 1------*/
.bloc1 img{
    max-height: 25em;
    max-width: 17em;
}

.bloc1{
    align-items: stretch;
}

/* ------Section 3 Bloc 2------ */
.bloc2 img{
    max-height: 15em;
    max-width: 17em;
}

.bloc2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
  /* ---------------------------------------------------------------- */
 /* -----------------------------FOOTER----------------------------- */
/* ---------------------------------------------------------------- */

footer{
    display: flex;
    flex-direction: row;
    padding-top: 1.5em;
    background-color: #F2F2F2;    
}

#liensfooter{
    margin-left:1.5em;
    width: 100%;
    display: flex;
    margin-bottom: 2em;
}

footer p, footer ul{
    font-size: 1em;
}


footer ul{
    margin-top: 0em;
}

footer h2{
    font-size: 1.3em;
    padding-left: 0.8em;
}

#Apropos, #nos_hebergements, #assistance{
    width:33%;
}

#liste_apropos{
    display: flex;
    justify-content: space-between; 
}

#Apropos ul{
    list-style-type: none;
    padding-left: 1em;
}

#nos_hebergements ul{
    list-style-type: none;
    padding-left: 1em;
}

#liste_nos_hebergements{
    display: flex;
    justify-content: space-between;
}

#liste_assistance{
    display: flex;
    justify-content: space-between;
}

#assistance ul{
    list-style-type: none;
    padding-left: 1em;
}

#Apropos a, #nos_hebergements a, #assistance a{
    text-decoration: none;
    color:black;
    line-height: 2em;
}

#liensfooter a:hover{
    color: grey;
}


  /* ---------------------------------------------------------------- */
 /* -------------------------MEDIA QUERIES-------------------------- */
/* ---------------------------------------------------------------- */


@media (min-width: 479px){
    .barre_recherche i.fa-search{
    display: none;
    }
    
    img.imgactiv2{
        display: none;
    }
}

  /* ---------------------------------------------------------------- */
 /* ---------------------RESPONSIVE TEL.PORTABLES------------------- */
/* ---------------------------------------------------------------- */

@media screen and (max-width: 479px){
     
    #bloc_page{
        padding: 1%;
    }
    
/* ------RESPONSIVE TEL.PORTABLES HEADER------ */
    
    header{
        margin: 1em;
    }
    
    #logo{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    header ul{
        margin: 0;
        margin-bottom: 2em;
        padding-left:0;
        float: none;
        text-align: center;
        margin-left: -1.2em;
        margin-right: -1.2em;
    }
    
    header li{
        margin-top: 1.5em;
        width: 50%;
        padding-bottom: 1.5em;
        border-bottom: 3px solid lightgrey;
    }
    
    .active{
        border-color:#0065FC; 
    }
    
    header nav{
        margin-top:0;
        width: 100%;
    }
    
    #logo > a{
        margin-right: 0.5em;
    }
    
  header li:nth-child(1) > a{
        border-top:none;
    }
      
    
/* BARRE DE RECHERCHE */    
    
    header .buttonrecherche{
        display: none;
    }
    
    .barre_recherche{
        margin-top:1em;
        width: 100%;
    }
    
    .barre_recherche i.fa-search{
        border-radius: 0.7em;
        color: white;
        padding: 1em;
        background-color: #0065FC;
    }
    
    .barre_recherche i.fa-map-marker-alt{
        padding-left: 1.2em;
        padding-right: 1.2em;
        padding-top: 1em;
        padding-bottom: 1em;
    }
    
    .textsearch{
        width:69%;
        margin-right: -1em;
        font-size: 1em;
    }
    
    header h1{
        font-size: 1.5em;
    }
    
    header h2, #titreinfo h2{
        font-size: 1em;
    }
    
    #filtres{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .buttonfiltre{
        margin-right: 0.5em;
    }
    
    header h3{
        width:100%;
    }
    
/* ------RESPONSIVE TEL.PORTABLES SECTION 1------ */
    
    #section1 .logements_section1{
        width: 100%;
        height: 10em;
        margin: 0;
        margin-bottom: 1.5em;
    }
    
    #section1{
        background-color: white;
        margin:1em;
        width: auto;
    }
    
    #section1 h2{
        margin-bottom: 1em;
        padding:0;
    }
    
    h5 a{
        padding: 0;
    }
  
/* ------RESPONSIVE TEL.PORTABLES SECTION 2------ */
    
    #section2{
        border-radius:0;
        margin: 0;
        flex:1;
        margin-left: -0.2em;
        margin-right: -0.2em;
    }
    
    #section2 img{
        padding:0;
    }
    
    
    #image_section2 > div i{
        padding-top: 5em;
    }
    
    
    .textimgs2{
        padding-top: 0.5em;
        padding-left: 1.5em;
    }
/* ------RESPONSIVE TEL.PORTABLES SECTIONS 1 & 2------ */ 
    
    #sections1_2{
        margin: 0;
        flex-direction: column-reverse;
    }
    
    #section1, #section2{
        padding:0;
    }
  
/* ------RESPONSIVE TEL.PORTABLES SECTIONS 3------ */
    
    #section3 .activites{
        width: 100%;
        margin: 0;
        margin-bottom: 1.5em;  
    }
    
    #section3 h2{
        padding: 0;
    }
    
    #section3{
        margin: 1em;
    }
    
    #section3 img{
        max-width: 100%;
    }
    
    img.imgactiv2{
        display: flex;
        width: 100%;
    }
    
    img.imgactiv{
        display: none;
    }
    
/* ------RESPONSIVE TEL.PORTABLES FOOTER----- */
    
    footer{
        margin-right: -0.2em;
        margin-left: -0.2em;
        margin-bottom: -0.2em;
    }
    
    footer h2{
        width: 100%;
    }
    
    #liensfooter{
        flex-direction: column;
        margin: 1em;
    }
    
    footer #Apropos, footer #nos_hebergements, footer #assistance{
        width: 100%;
    }
    
}

  /* ---------------------------------------------------------------- */
 /* -----------------------RESPONSIVE TABLETTE---------------------- */ 
/* ---------------------------------------------------------------- */

@media only screen
  and (min-width : 480px)
  and (max-width : 959px){
    
/* ------RESPONSIVE TABLETTE HEADER------ */
      
      #filtres{
         display: flex;
         flex-wrap: wrap;
    }
      
      .textsearch{
          margin-right:-1em;
      }
      
      header h3{
          width: 100%;
      }
      
      nav ul{
          margin-right:0;
      }
      
    
      
/* ------RESPONSIVE TABLETTE SECTION 1------ */
      
     .logements_section1{
          width: 45%;
          height: 12em;
    }
      
      #section1 h2{
          margin-bottom : 0.5em;
      }
      
/* ------RESPONSIVE TABLETTE SECTION 1 & 2------ */
      
     #sections1_2{
          flex-direction: column-reverse;
          margin: 0;
    }
      
/* ------RESPONSIVE TABLETTE SECTION 2------ */
      
     .logements_section2{
          height:15em;
          width: 33%;
          margin: 0.5em;
          flex-direction: column;
          padding-right: 0.3em;
          align-items: flex-start;
    }  
      
     #image_section2{
          display: flex;
      }
      
     #section2 img{
         width:100%;
         border-top-right-radius: 1em;
         border-bottom-left-radius: 0em;
         height: 60%;
      }
      
      .textimgs2{
         padding: 0em;
         padding-left: 0.5em;
      }
      
      #image_section2 > div:nth-child(2) > div > div > i{
          padding-top: 0em;
      }
      
      #image_section2 > div i{
          padding-top: 1em;
      }
      
/* ------RESPONSIVE TABLETTE SECTION 3------ */
      
      #Blocs_s3{
          justify-content: center;
      }
       
}
  /* ---------------------------------------------------------------- */
 /* ----------RESPONSIVE TABLETTE PAYSAGE ET PETITS ECRANS---------- */
/* ---------------------------------------------------------------- */

@media only screen
  and (min-width : 960px)
    and (max-width : 1280px){
       
/* ------RESPONSIVE TABLETTE PAYSAGE ET PETITS ECRANS HEADER------ */
        
        #filtres{
           flex-wrap: wrap;
    }
      
        nav ul{
            margin-right:0;
      }
        
/* ------RESPONSIVE TABLETTE PAYSAGE ET PETITS ECRANS SECTION 1------ */

        .logements_section1{ 
            width: 30%;
            justify-content: center;
            padding-right: 0.5em;
            padding-left: 0.5em;
            padding-top: 0.5em;
        
    }
        
        #section1 h5{
            margin: 1em;
    }
      
/* ------RESPONSIVE TABLETTE PAYSAGE ET PETITS ECRANS SECTION 1 & 2------ */
        
        
        #sections1_2{
            flex-direction: column-reverse;
            margin: 0; 
    }
      
/* ------RESPONSIVE TABLETTE PAYSAGE ET PETITS ECRANS SECTION 2------ */
        
        .logements_section2{
            height:10em;
            width: 30%;
            margin: 0.5em;
    }

        #image_section2{
            display: flex;
            justify-content: space-around;
            margin-top:0.5em;
      }
      
        #section2 img{
            width:50%; 
         
      }
      
        .textimgs2{
            padding-right: 1em;
            padding-top: 0.5em;
            padding-bottom: 0em;
      }
      
        #image_section2 > div:nth-child(2) > div > div > i{
            padding-top: 3.5em;
          
      }
        
/* ------RESPONSIVE TABLETTE PAYSAGE ET PETITS ECRANS SECTION 3------ */
        
        #Blocs_s3{
            justify-content: center;
      }
        
        #section3 img{
            max-width: 13em;
        }
        
        #section3 h3{
            padding-left: 0.5em;
        }
}