/* BODY */
body{
    font-family: 'Raleway', sans-serif;
}

body h1{
    font-weight: bold;
}

/* HEADER */

/* Header lien de navigation */
nav ul{
    list-style-type: none;
    display: flex;
}

nav li{
    margin-right: 1em;
    flex-direction: right;
}

nav a{
    text-decoration: none;
    color: #0065FC;
}

/* Header logo et titre*/

header img{
    max-height: 3em;
    max-width: 6em;
}

header h1{
    font-size: 1.1em;
    font-weight: bold;
    
}

header h2{
    font-size:0.8em;
}


/* selecteurs de notation en etoiles*/

.rating{
    display: flex;
    flex-direction:row-reverse;
    align-items: center;
}

.rating a {
    color: darkgrey;
	text-decoration: none;
    font-size: 1.5em;
	transition: color .4s;
}

.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a {	
    color: blue;
    cursor: pointer;
}

/* SECTION 1 */
/* flex images section logements */
.logements{
    display: inline-block;
    vertical-align: top;
    width:20%;
    margin: 25;
    background-color: white;
    padding: 15px;
}

/* flex section1 */
.images_section1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

img{
    max-height: 25em;
    max-width: 15em;
}

#section1, #section2{
    background-color: #DEEBFF;
    border-radius : 10px;
    padding: 1.5em;
    justify-content: space-around;
    margin: 2em;
}

#section1 a, #section2 a{
    font-weight: bold;
    color: black;
    font-size: 1.5em;
}

#section1 h1, #section2 h1{
    font-size:1.2em;
}

#section1 h2, #section2 h2{
    font-size: 1em;
}

/* SECTION 3 */
#section3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: stretch;
    margin: 2em;
}

.imgactiv{
    margin: 1em;
}

/* Section 3 Bloc 1*/
.activitebloc1{
    display: flex;
    justify-content: space-around;
}


/* Section 3 Bloc 2 */
.activitebloc2{
    display: flex;
    justify-content: space-around;
}

/* FOOTER */
footer{
    display: flex;
    padding-top: 1em;
}

footer p, footer ul{
    font-size: 1em;
}
footer h1{
    font-size: 1.3em;
    padding-left: 0.8em;
}

#Apropos{
    width:30%;
}

#liste_apropos{
    display: flex;
    justify-content: space-between; 
}

#Apropos ul{
    list-style-type: none;
    padding-left: 1em;
}

#nos_hebergements{
    width:30%;
}

#nos_hebergements ul{
    list-style-type: none;
    padding-left: 1em;
}

€liste_nos_hebergements{
    display: flex;
    justify-content: space-between;
}

#assistance{
    width: 30%;
}

#liste_assistance{
    display: flex;
    justify-content: space-between;
}

#assistance ul{
    list-style-type: none;
    padding-left: 1em;
}

#Apropos a, #nos_hebergements a, #assistance a{
    text-decoration: none;
    color:black;
}